@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Roboto+Mono:wght@100&family=Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #001437;
  font-family: Montserrat, 'Courier New', Courier, monospace;
}
button {
  font-family: 'Roboto Mono';
  padding: 10px 23px;
  border-radius: 6px;
  background: transparent;
  color: #bec2c1;
  border: 1px solid #bec2c1;

}

button:hover {
  color: #aaf7e4;
  border: 1px solid #aaf7e4;
}

/* ---- NAV BAR SETTINGS ---- */
#navcontainer {
  position: fixed;
  top: 0;
  left: 0;
}
nav {
  width: 100vw;
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001429;
}

.logo {
  justify-content: left;
  margin-left: 40px;
  cursor: pointer;
}
.logo a{
  color: #bec2c1;
  letter-spacing: 5px;
  font-size: 30px;
  text-decoration: none;
}
.logo a:hover{
  color: #aaf7e4;
  cursor: pointer;
  text-decoration: none;
}

.navlinks {
  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  min-height: 6vh;
  justify-content: space-around;
  align-items: center;
  width: 0%;
  margin-right: 250px;
}
.navlinks li {
  text-align: center;
  padding: .5em;
  background: transparent;
}

.navlinks a:hover{
  color: #aaf7e4;
}
.navlinks a {
  color: #bec2c1;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
}

.burger {
  display: none;
}
.burger div{
  width: 25px;
  height: 2px;
  background-color:#bec2c1;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
  .navlinks {
    width: 5%;
  }
}

@media screen and (max-width:768px) {
  nav {
    width: 100vw;
    backdrop-filter: none;
    
  }
  .navlinks {
    position: absolute;
    background: transparent;
    backdrop-filter: blur(3px);
    left: 250px;
    height: 100vh;
    top: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;  
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .navlinks li{
    opacity: 0;
  }
  .navlinks li button{
    margin: 0px;
  }
  .navlinks a{
    background: transparent;
  }
  .burger {
    cursor: pointer;
    display: block;
    margin-right: 25px;
  }
  .nav-active {
    transform: translate(0%);
  }
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transfrom: translate(50px);
  }
  to{
    opacity: 1;
    transfrom: translate(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -5px);
}

/*---- MAIN SETTINGS ----*/
.container-main{
  margin-left: 10vw;
  margin-top: 25vw; 
  width: 65vw;
}

.container-main h1{
  font-size: 70px;
  color: #aaf7e4;
  font-weight: 700;
  font-family: Montserrat, 'Courier New', Courier, monospace;
  margin: 0px;
}
.container-main h4{
  font-size: 40px;
  margin: auto;
  color: #bec2c1;
  font-weight: lighter;
  font-family: Lato, 'Courier New', Courier, monospace;
  margin-bottom: 3px;
}
.container-main p{
  padding-top: 7px;
  font-size: 30px;
  color: #bec2c1;
  font-weight: lighter;
  font-family: Lato, 'Courier New', Courier, monospace
}

.about p{
  font-size: 17px;
  display: flex;
  font-family: Lato, 'Courier New';
  margin: 0px;
}

/*---- ABOUT SETTINGS ----*/

#container-about{
  margin-left: 10vw; 
  margin-top: 400px;
  width: 65vw;
}

#container-about h1{
  color: #aaf7e4;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 40px;
}
#container-about p{
  font-size: 17px;
  font-family: Lato, 'Courier New';
  color: #bec2c1;
  text-decoration: none;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
#container-about ul{
  font-size: 17px;
  font-family: Lato, 'Courier New';
  color: #bec2c1;
  list-style: none;
  letter-spacing: 1px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 0px;
}
#container-about .left{
  float:left;
}
#container-about .right{
  float:left;
}

/*---- WORK SETTINGS ----*/
#container-work{
  margin-left: 10vw; 
  margin-top: 400px;
  width: 65vw;
}

#container-work h1{
  color: #aaf7e4;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 40px;
}
#container-work h2{
  font-family: Lato, 'Courier New';
  color: #bec2c1;
  text-decoration: none;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
#container-work h3{
  font-family: Lato, 'Courier New';
  color: #bec2c1;
  text-decoration: none;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
#container-work h6{
  font-family: Lato, 'Courier New';
  color: #bec2c1;
  text-decoration: none;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
#container-work p{
  font-size: 17px;
  font-family: Lato, 'Courier New';
  color: #bec2c1;
  text-decoration: none;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

#job-two {
  margin-top:40px;
}

/*---- PROJECTS SETTINGS ----*/
#container-projects{
  margin-left: 6vw; 
  margin-top: 400px;
  width: 65vw;
  padding-bottom: 50px;
}

#container-projects h1{
  color: #aaf7e4;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 25px;
}

#container-projects a{
  text-decoration: none;
  color: #bec2c1;
  margin-left: 6vw; 
}
#container-projects a:hover{
  color: #aaf7e4;
}
.container-project{
  display: flex;
  border: 2px solid black;
}
.container-project img{
  height: 50%;
  width: 50%;
}
.container-project a{
  font-size: 25px;
}
.container-project-about{
  vertical-align: middle;
}
.container-project-about li{
  list-style-type: none;
}

/*---- CAROUSEL SETTINGS ----*/

#folio{
  position: absolute; 
  margin-top: 7vh;
  width: 65vw;
  padding-bottom: 50px;
}

.carosuel{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide{
  opacity: 0;
  transition-duration: 1s ease;
} 
.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.image{
  width: 50%;
  height: 50%;
  border-radius: 10px;
}

.right-arrow{
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow{
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

/*---- CONTACT SETTINGS ----*/
#container-contact{
  text-align: center;
  margin-top: 400px;
  width: 100vw;
}
#container-contact h1{
  color: #aaf7e4;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 40px;
}

/*---- FOOTER SETTINGS ----*/

#container-footer{
  text-align: center;
  margin-top: 200px;
}
#container-footer h3{
  color: #bec2c1;
}
#container-footer p{
  color: #aaf7e4;
  display: inline;
}